@font-face {
  font-family: "AirbnbCereal";
  src: url("../fonts/AirbnbCereal_W_Lt.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "AirbnbCereal";
  src: url("../fonts/AirbnbCereal_W_Md.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "AirbnbCereal";
  src: url("../fonts/AirbnbCereal_W_Bd.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "AirbnbCereal";
  src: url("../fonts/AirbnbCereal_W_XBd.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "AirbnbCereal";
  src: url("../fonts/AirbnbCereal_W_Blk.otf") format("opentype");
  font-weight: 900;
}